body {
    margin: 0;
    padding: 10px;
    background: #364c66;
    font-family: 'Libre Baskerville', serif;
    font-size: 12px;
    color: #fff;
}
p {
    margin: 10px;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
    font-size: 1.5em;
  
}
li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.5em;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
    word-spacing: .4em;
}
h2 {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    color: #fff;
    text-align: center;
}
h1 {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: #000000;
    text-align: center;
}
div .right {
    float: right;
    width: 70%;
    margin: 0 0 0 10px;
    padding: 0;
    border: 1px solid #ccc;
    border-top: 0;
    border-bottom: 0;
}
div .left {
    float: left;
    width: 20%;
    margin: 0 10px 0 0;
    background: inherit;
    padding: 10px 10px 10px 10px;
    border-bottom: 0;
}
div .container {
    margin: 0 auto;
    width: 600px;
    padding: 0;
    background: #fff;
    border: 1px solid #ccc;
}
div .header {
    margin: 0;
    padding: 0;
    background: #80b4f2;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    border: 1px solid #ccc;
    border-bottom: 0;
}
nav {
    margin: 0;
    padding: 0;
    background: #6c97cc;
    font-family: 'Source Serif Pro', serif;
    border: 1px solid #ccc;
    border-bottom: 0;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline;
    margin: 0;
    padding: 0;
}
nav a {
    display: inline;
    font-size: 20px;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    text-decoration: none;
}
nav a:hover {
    background: #80b4f2;
}
li a {
    color: #fff;
    text-decoration: none;
    line-height: 1.5em;
    padding-left: 1.5em;
}
li a:hover {
    color: #6c97cc;
    text-decoration: underline;
}
.center {
    text-align: center;
}
.center img {
    display: block;
    margin: 0 auto;
    padding: 0;
    border: 0;
    width: 250px;
}
.left img {
    display: block;
    margin: 0 auto;
    padding: 0;
    border: 0;
    width: 100%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%;
    height:40px;   /* Height of the footer */
    background:#6cf;
}
table {
    border-collapse: collapse;
    width: 100%;
}
img {
    width: 250px;
}
#image-gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 10%;
    margin-bottom: 40px;
}
figure {
    text-align: center;
    list-style-position: inside;
}
figcaption {
    font-family: "Oswald", Verdana, Arial, sans-serif;
    font-style: italic;
    font-size: .75em;
}
